*{
    margin:0;
    padding:0;
}
.main_box{
    position:relative;
    background:url(imgcard/sidebar.jpg) right no-repeat;
    background-size:cover;
    height:100vh;
    width:100%;
    
}
.main_box .sidebar_menu{
    position:fixed;
    height:100vh;
    width:280px;
    left:-280px;
    background:rgba(29, 29, 29, 0.5);
    box-shadow: 0 0 6px rgba(29, 29, 29, 0.5);
}
.sidebar_menu .logo{
    position:absolute;
    width:100%;
    height:60px;
    box-shadow: 0 0 6px rgba(29,29,29,0.5);
    

}
.sidebar_menu .logo a{
    color:#fff;
    font-size:25px;
    font-weight:500;
    position:absolute;
    left:80px;
    top:15px;
    text-decoration:none;
    cursor:default;
    /* background-color:rgb(129, 135, 135); */
}
.sidebar_menu ul{
    position:absolute;
    top:60px;
    width:100%;
}
.sidebar_menu ul li{
    margin-top:6px;
    padding:14px 20px;
}
.sidebar_menu ul i{
    color:#fff;
    font-size:20px;
    padding-right:8px;
}
.sidebar_menu ul a{
    color:#fff;
    font-size:20px;
    text-decoration:none;
}
.sidebar_menu ul li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255,1);
}

.social_media{
    position: absolute;
    left:70px;
    bottom: 80px;
    cursor:pointer;
}
.social_media i{
    padding:0 5px;
    color:#fff;
    opacity:0.5;
    font-size:20px;
}
.social_media i:hover{
    opacity:1;
}
#check{
    display:none;
}
.main_box .btn_one i{
    color:#fff;
    font-size:30px;
    font-weight:700;
    position:absolute;
    left:16px;
    cursor:pointer;
    line-height:60px;
    opacity:1;

}
.sidebar_menu .btn_two i{
    font-size:25px;
    line-height:60px;
    position:absolute;
    left:240px;
    cursor:pointer;
    opacity:1;
}
.btn_one i:hover{
    font-size:29px;
}
#check:checked ~.sidebar_menu{
    left:0px;
}
#check:checked ~.btn_one i{
    opacity:0;
}
#check:checked~.sidebar_menu .btn_two i{
    opacity:1;
}